*{
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #474e5d;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
  }
  
  .logo a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: x-large;
    vertical-align: middle;
  }
  
  .navItem {
    display: inline-block;
  }
  
  .navbar ul{
    display: flex;
    justify-content: space-between;
  }
  
  .navItem li {
    list-style: none;
   
  }
  
  .navItem a {
    display: block;
    text-decoration: none;
    font-size: large;
    padding: 15px 12px;
    color: white;
    /* border-radius: 4px; */
    transition: background-color 1s ease-out 20ms
  }
  
  .navItem li a:hover {
    background-color: white;
    color: black;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
  
    /* font-size: 125%; */
    /* padding: 9px; */
  }
  
  .navItem li:hover{
    /* margin: calc(10-16*2.5); */
  }